<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<menucontrol>9051</menucontrol>
	<onunload condition="System.HasAddon(script.colorbox)">RunScript(script.colorbox,daemon=True)</onunload>
	<controls>
		<include>CommonBackground</include>
		<include>Topbar</include>
		<control type="group" id="50">
			<top>89</top>
			<include>WindowOpenCloseAnimation</include>
			<control type="panel" id="9000">
				<left>90</left>
				<width>1800</width>
				<height>820</height>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<pagecontrol>61</pagecontrol>
				<scrolltime tween="quadratic">300</scrolltime>
				<itemlayout width="300" height="410">
					<control type="image">
						<width>240</width>
						<height>240</height>
						<texture>$INFO[ListItem.Icon]</texture>
					</control>
<!--TK	Icon Theme Highlight	-->					
					<control type="image">
						<width>240</width>
						<height>240</height>
						<texture colordiffuse="$VAR[HighlightBarColor]">$INFO[Container(9000).ListItem.Property(stroke)]</texture>
					</control>
					<control type="label">
						<top>190</top>
						<width>240</width>
						<height>90</height>
						<label>$INFO[ListItem.Label]</label>
						<align>center</align>
						<textcolor>white</textcolor>
						<shadowcolor>shadow</shadowcolor>
					</control>
				</itemlayout>
				<focusedlayout width="300" height="410">
					<control type="image">
						<animation type="Focus" reversible="false">
							<effect type="rotatey" start="-120" end="0" time="400" center="94" easing="inout" tween="sine" />
							<effect type="zoom" start="90" end="140" time="400" tween="sine" easing="inout" center="auto" />
						</animation>
						<width>240</width>
						<height>240</height>
						<texture>$INFO[ListItem.Icon]</texture>
					</control>
<!--TK	Icon Theme Highlight	-->					
					<control type="image">
						<animation type="Focus" reversible="false">
							<effect type="rotatey" start="-120" end="0" time="400" center="94" easing="inout" tween="sine" />
							<effect type="zoom" start="90" end="140" time="400" tween="sine" easing="inout" center="auto" />
						</animation>
						<width>240</width>
						<height>240</height>
						<texture colordiffuse="$VAR[HighlightBarColor]">$INFO[Container(9000).ListItem.Property(stroke)]</texture>
					</control>
					<control type="label">
						<animation effect="zoom" center="120,120" start="80" end="150" time="420" tween="back" reversible="false">Focus</animation>
						<top>190</top>
						<width>240</width>
						<height>90</height>
						<label>$INFO[ListItem.Label]</label>
						<align>center</align>
						<textcolor>$VAR[HighlightBarColor]</textcolor>
						<shadowcolor>shadow</shadowcolor>
					</control>
				</focusedlayout>
<!--TK	Added stroke image to content	-->
				<content>
					<item>
						<label>14206</label>
						<property name="description">31400</property>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon>views/settings/interface.png</icon>
						<property name="stroke">views/settings/interface_stroke.png</property>
					</item>
					<item>
						<label>14200</label>
						<property name="description">31401</property>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon>views/settings/player.png</icon>
						<property name="stroke">views/settings/player_stroke.png</property>
					</item>
					<item>
						<label>14211</label>
						<property name="description">31402</property>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon>views/settings/media.png</icon>
						<property name="stroke">views/settings/media_stroke.png</property>
					</item>
					<item>
						<label>24001</label>
						<property name="description">31448</property>
						<onclick>ActivateWindow(addonbrowser)</onclick>
						<icon>views/settings/addons.png</icon>
						<property name="stroke">views/settings/addons_stroke.png</property>
					</item>
					<item>
						<label>31502</label>
						<property name="description">31409</property>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>views/settings/pvr.png</icon>
						<property name="stroke">views/settings/pvr_stroke.png</property>
					</item>
					<item>
						<label>15016</label>
						<property name="description">31441</property>
						<onclick>ActivateWindow(GameSettings)</onclick>
						<icon>views/settings/games.png</icon>
						<property name="stroke">views/settings/games_stroke.png</property>
					</item>
					<item>
						<label>13200</label>
						<property name="description">31407</property>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon>views/settings/profiles.png</icon>
						<property name="stroke">views/settings/profiles_stroke.png</property>
					</item>
					<item>
						<label>14036</label>
						<property name="description">31410</property>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>views/settings/service.png</icon>
						<property name="stroke">views/settings/service_stroke.png</property>
					</item>
					<item>
						<label>File Manager</label>
						<property name="description">40001</property>
						<onclick>ActivateWindow(filemanager)</onclick>
						<icon>views/settings/filemanager.png</icon>
						<property name="stroke">views/settings/filemanager_stroke.png</property>
					</item>
					<item>
						<label>Skin Settings</label>
						<property name="description">40000</property>
						<onclick>ActivateWindow(SkinSettings)</onclick>
						<icon>views/settings/skin.png</icon>
						<property name="stroke">views/settings/skin_stroke.png</property>
					</item>
					<item>
						<label>13000</label>
						<property name="description">31406</property>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>views/settings/system.png</icon>
						<property name="stroke">views/settings/system_stroke.png</property>
					</item>
					<item>
						<label>10511</label>
						<property name="description">31405</property>
						<onclick>ActivateWindow(SystemInfo)</onclick>
						<icon>views/settings/systeminfo.png</icon>
						<property name="stroke">views/settings/systeminfo_stroke.png</property>
					</item>
					<item>
						<label>LibreELEC</label>
						<property name="description">31318</property>
						<onclick>RunAddon(service.libreelec.settings)</onclick>
						<icon>views/settings/libreelec.png</icon>
						<property name="stroke">views/settings/libreelec_stroke.png</property>
						<visible>System.HasAddon(service.libreelec.settings)</visible>
					</item>
					<item>
						<label>CoreELEC</label>
						<property name="description">31490</property>
						<onclick>RunAddon(service.coreelec.settings)</onclick>
						<icon>views/settings/coreelec.png</icon>
						<property name="stroke">views/settings/coreelec_stroke.png</property>
						<visible>System.HasAddon(service.coreelec.settings)</visible>
					</item>
				</content>
			</control>
			
			<control type="textbox">
				<right>80</right>
				<top>822</top>	<!-- Adjusted height of description --AB-->
				<width>1200</width>
				<height>175</height>
				<textcolor>grey2</textcolor>
				<align>right</align>
				<autoscroll time="3000" delay="4000" repeat="5000">true</autoscroll>
				<label>$INFO[Container(9000).ListItem.Property(description)]</label>
			</control>
		</control>
	</controls>
</window>